ul {
  background-color: rgb(255, 0, 0, 0.5);
  padding: 10px 30px;
  width: 60%;
}

li {
  word-break: break-all;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  border: 1px solid rgb(204, 204, 204);
  display: block;
  font-size: 17px;
  margin: 5px 0 10px;
  padding: 8px;
  width: 25%;
}

button {
  background-color: rgb(216, 216, 216);
  border: rgb(168, 168, 168);
  font-size: 15px;
  padding: 7px;
  width: 10%;
}

@media only screen and (max-width: 768px) {
  input {
    font-size: 11px;
    width: 90%;
  }

  button {
    width: 25%;
  }
}
